.home-page{
    padding-top: 10vh;
    margin-bottom: 4vh;
    .card-chart{
        margin-top: 6vh;
        border-radius: 10px;
        background-color: rgba(250, 255, 255, 0.897);
    }
    title{
        text-align: center;
    }
}
